@charset "UTF-8";

* {
    font-family: monospace;
}

body {
    background-image: linear-gradient(to right, #20818C, #27668C);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

p {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #F29F05;
}

h2 {
    color: #27668C;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.475);
}